<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <button id="ars-currency" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Argentine Peso (ARS)
    </button>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <button id="eur-currency" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      EURO (EUR)
    </button>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <button id="usd-currency" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      US Dollars (USD)
    </button>
  </div>
</div>

<div id="chart-container">
</div>

<div id="charts-toast" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<script>
$(document).ready(function(){
  $.ajax({url: "/fetch", dataType: 'script'});
});
</script>
